@import "./normalize.scss";
@import "@pub/cdn/common.css";
@import "./layout.scss";
// @import "./mixin.scss";
//字体图标
@import '../icon/iconfont.css';
a {
    text-decoration: none;
    color: #333;
}

* {
    outline: none;
}

:root{
    font-size: 16px;
    color: #4d4d4d;
}